<%= form_for [@bill, @list_item], html: { class: 'py-5 px-2' } do |f| %>
  <div class="flex justify-between items-center w-full bg-white border-b dark:bg-gray-900 dark:border-gray-700 p-4">
    <div class="p-auto text-left text-md w-40">
      <%= f.text_field :name, require: true, placeholder: 'Title item', class: 'border border-1 p-2 text-gray-400 focus:text-black rounded-md' %>
    </div>
    <div class="p-auto text-left text-md w-40">
      <%= f.number_field :quantity, require: true, placeholder: 'Quantity item', class: 'border border-1 p-2 text-gray-400 focus:text-black rounded-md' %>
    </div>
    <div class="p-auto text-left text-md w-40">
      <%= f.number_field :amount, require: true, placeholder: 'Unit price item', class: 'border border-1 p-2 text-gray-400 focus:text-black rounded-md' %>
    </div>
    <div class="p-auto text-md text-left flex w-40">
      <%= f.submit button_title, data: { disable_with: false }, class: 'cursor-pointer border border-1 bg-blue-700 p-2 text-white rounded-md' %>
      <%= link_to "Cancel", bills_path, class: 'bg-slate-100 hover:bg-slate-200 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center' %>
    </div>
  </div>
<% end %>