<%= turbo_frame_tag dom_id(list_item) do %>
  <div class="flex justify-between items-center w-full bg-white border-b dark:bg-gray-900 dark:border-gray-700 p-4">
    <div class="p-auto text-left text-md w-40"><%= list_item.name %></div>
    <div class="p-auto text-left text-md w-40"><%= list_item.quantity %></div>
    <div class="p-auto text-left text-md w-40"><%= list_item.amount %></div>
    <div class="p-auto text-md text-left flex w-40">
      <%= link_to "Edit", edit_bill_list_item_path(list_item.bill_id, list_item.id), class: "text-sm font-medium text-white hover:text-slate-950 dark:text-white p-2 rounded-lg bg-green-400 mr-2"%>
      <%= button_to "Delete", bill_list_item_path(list_item.bill_id, list_item.id), method: :delete, class: "text-sm font-medium text-white hover:text-slate-950 dark:text-white p-2 rounded-lg bg-red-400"%>
    </div>
  </div>
<% end %>